/* Reset CSS for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* Define color variables in :root */
:root {
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(52, 100%, 62%);
    --pl-white: hsl(0, 0%, 100%);
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

/* General styling for the wrapper */
.wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(85, 1, 106, 1) 10%, rgba(47, 2, 83, 1) 43%);
}

/* Styling for the container */
.container {
    max-height: 600px;
    height: 100%;
    max-width: 450px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Styling for headings inside the container */
.container h1 {
    color: var(--pl-white);
    font-size: 2rem;
    opacity: 70%;
    margin: 0 auto;
    letter-spacing: 2px;
    text-align: center;
}

/* Styling for the display section */
.display-section {
    width: 100%;
    display: flex;
    position: relative;
}

/* Styling for the password input field */
.display-section input {
    position: absolute;
    width: 100%;
    height: 4rem;
    border-radius: 0.75rem;
    border: none;
    border-bottom: 0.350rem solid var(--lt-violet2);
    background: var(--dk-violet);
    color: var(--vb-yellow);
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: bold;
}

/* Styling for the input placeholder */
.display-section input::placeholder {
    color: var(--vb-yellow);
    font-size: 25px;
    position: absolute;
    left: 20px;
    letter-spacing: 0.135rem;
    font-weight: bold;
    opacity: 70%;
}

/* Styling for the copy button */
#copy-btn {
    position: absolute;
    right: 20px;
    bottom: -45px;
    cursor: pointer;
}

/* Styling for the "Copied" text notification */
.active {
    display: none;
}

#copiedText {
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    right: -5px;
    top: -20px;
    font-weight: bold;
    color: var(--vb-yellow);
    background-color: var(--vb-violet);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

/* Styling for the input container */
.inputContainer {
    background: var(--dk-violet);
    margin-top: 4em;
    color: var(--pl-white);
    padding: 25px;
    height: 100%;
    border-radius: 0.75rem;
    border-bottom: 0.350rem solid var(--lt-violet2);
    background: var(--dk-violet);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Styling for the length container */
.length-container {
    display: flex;
    justify-content: space-between;
}

/* Styling for elements related to password length */
#length-text {
    font-size: 1.5rem;
}

#password-number {
    font-size: 1.5rem;
    color: var(--vb-yellow);
    font-weight: bold;
}

/* Styling for the password length slider */
#slider {
    appearance: none;
    height: 12px;
    background-color: var(--lt-violet);
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
    border-radius: 0.75rem;
    cursor: pointer;
}

#slider:focus {
    border: 3px solid var(--vb-yellow);
}

/* Styling for slider thumbs in different browsers */
#slider::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 30px;
    background: var(--vb-yellow);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
}

#slider::-moz-range-thumb {
    appearance: none;
    height: 30px;
    width: 30px;
    background: var(--vb-yellow);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
}

/* Styling for slider thumbs on hover */
#slider::-webkit-slider-thumb:hover {
    background: var(--dk-violet);
    border: 2px var(--vb-yellow) solid;
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

#slider::-moz-range-thumb:hover {
    background: var(--dk-violet);
    border: 2px var(--vb-yellow) solid;
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

/* Styling for the checkbox container */
.checkBoxContainer {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    line-height: 1.7em;
}

/* Styling for individual checkboxes */
.checkboxDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.checkbox {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 1px var(--vb-cyan) solid;
    border-radius: 0.35rem;
    cursor: pointer;
}

/* Styling for checked checkboxes */
.checkbox:checked {
    background: var(--vb-cyan);
}

/* Styling for the checkmark in checked checkboxes */
.checkbox:checked::before {
    content: "✓";
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    bottom: 4px;
    left: 2px;
}

/* Styling for the password strength container */
.strength-container {
    display: flex;
    justify-content: space-between;
}

/* Styling for password strength text */
.strength-container p {
    font-size: 1.5rem;
}

/* Styling for the password strength indicator */
#display-strength {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

/* Styling for the password generation button */
#submit-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    background: var(--vb-violet);
    color: var(--vb-yellow);
    font-weight: bold;
    border: none;
    border-bottom: 0.350rem solid var(--vb-yellow);
    border-radius: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

/* media queries for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container h1{
        font-size: 1.5rem;
    }

    .display-section input{
        font-size: 1.25rem;
    }
}
